@import '../styles/_theme.scss';

BenchmarkResultModal
{
	font-family: $font-default;

	.window
	{
		width: 820px;
		flex-direction: column;
		border-radius: $rounding-large;
		gap: 14px;
		padding: 20px;
		pointer-events: all;
		background: linear-gradient( to bottom, $default-900, $default-950 );
		box-shadow: 2px 2px 20px #0005;
	}

	.header
	{
		flex-direction: row;
		align-items: center;
		gap: 8px;

		i
		{
			font-size: 20px;
			opacity: 0.5;
		}

		.title
		{
			font-size: $text-large;
			font-family: $font-heading;
			font-weight: 600;
			flex-grow: 1;
		}

		.close-btn
		{
			padding: 4px 8px;
			border-radius: $rounding-small;
			cursor: pointer;
			opacity: 0.4;
		}

		.close-btn:hover
		{
			opacity: 1;
			background-color: rgba( 255, 255, 255, 0.08 );
		}
	}

	.summary-cards
	{
		flex-direction: row;
		gap: 8px;
		justify-content: center;
	}

	.test-table
	{
		flex-direction: column;
		overflow-y: scroll;
		max-height: 340px;
		background-color: #323b5233;
		border-radius: 10px;
		padding: 8px;
		gap: 2px;
	}

	.header-row
	{
		flex-direction: row;
		padding: 4px 8px 12px 8px;
		gap: 8px;
		align-items: center;
		opacity: 0.45;
		font-size: $text-small;
		font-family: $font-heading;
		font-weight: 600;
	}

	.test-row
	{
		flex-direction: row;
		padding: 9px 8px;
		gap: 8px;
		align-items: center;
		font-family: $font-default;
	}

	.col-name
	{
		flex-grow: 1;
		overflow: hidden;
	}

	.col-num
	{
		min-width: 75px;
		max-width: 75px;
		text-align: right;
		opacity: 0.85;
	}

	.footer
	{
		flex-direction: row;
		justify-content: flex-end;
		padding-top: 2px;
	}
}
