
.videocontrols
{
	background-color: rgba( black, 0.6 );
	backdrop-filter: blur( 10px );
	min-width: 200px;
	max-width: 700px;
	flex-grow: 1;
	border-radius: 10px;
	pointer-events: all;
	flex-direction: row;
	padding: 16px;
	gap: 16px;

	> .left
	{
		.playbutton
		{
			font-size: 40px;
			pointer-events: all;
			justify-content: center;
			align-items: center;
		}
	}

	> .right
	{
		flex-grow: 1;
		flex-direction: column;
		padding-left: 0px;
		gap: 16px;
	}

	.meta
	{
		align-items: center;

		.left
		{
			flex-grow: 1;
			gap: 16px;

			i
			{
				position: relative;
				font-size: 18px;
			}

			SliderControl
			{
				max-width: 100px;
			}
		}

		.right
		{
			font-size: 11px;
			opacity: 0.8;
			gap: 5px;
		}
	}

	.video-control-button
	{
		opacity: 0.8;
		cursor: pointer;

		&:hover
		{
			opacity: 1;
		}

		&.disabled
		{
			pointer-events: none;
			opacity: 0.2;
		}
	}

	.slidercontrol
	{
		.inner
		{
			min-height: 8px;
		}

		.thumb
		{
			display: none;
		}

		.track
		{
			margin: 0;
			height: 8px;
			overflow: hidden;
			background-color: rgba( white, 0.05 );
		}
	}
}
